language: c

os:
  - linux
  - osx

git:
  depth: 5

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.4-multilib
      - gcc-4.6-multilib
      - gcc-4.8-multilib
      - linux-libc-dev
      - linux-libc-dev:i386
  coverity_scan:
    project:
      name: $TRAVIS_REPO_SLUG
      description: Modelica Standard Tables
    notification_email: $COVERITY_SCAN_EMAIL
    build_command: make
    branch_pattern: coverity_scan

compiler:
  - gcc-4.4
  - gcc-4.6
  - gcc-4.8
  - clang

matrix:
  exclude:
    - os: osx
      compiler: gcc-4.6
    - os: osx
      compiler: gcc-4.4

env:
  global:
    # COVERITY_SCAN_TOKEN
    - secure: "y9frSorko4tw1IjsbMo6vjBFdAd6jARtgTwuTm00bKeit6WI9HUGQygk7/5bFFZu9QaAQiuPVNgO58RyYddGbcekaSC6t3S8QgKCCq0nRssXn/5/0m5DWBpB/a2Zr3wDZmfmZEv84KOnnzfGHKlq7oapbcOPxnU086dFrh4yE3gIQfcGvClliR01Mri/ZLyd9WhFwj6wTkwYeatuOvzmWXm8x+yS0sLleyda7UN8yUoM1Wz7IYXcMoxnp+niZQMEhPe8c1BmwTYP4ge4nuLo4ToUxNO0+Hr0eCZEzG96RmO4puTJArmxcBt+/Y7slYln1y9Xx929UryOCy8rRsdLM4B4fUWkNoT4XCM5U55rkrK3hF8bzYB1RIIdQthjTqq4/cAIgp1F80HmMhdel+KP6tmySmk6b+/pKlehNx/RiRxWvj0dJ3wJVV7SX3Qqs4WC+G5BH3XxkoMHxtNXe5GlpPpIzelMov9f3XMLggOYnaR/j4SPrhgDGohWA0U2iORB4fzXIvYqMoX7JBrxioWXBnqubnn2YRmkZug5GV9kYx3FOMEkYvQqzFtjeabR6Nmr/8sS2XCQZ5QmL2RQUjqgtNu809DoNNRCrS8hClpiXdwJYQx2dP6MPWGn/h6/mVtCmbOsUYFE/7f/ycs4NigzyHE2MMvoNa3rmWwEb3Nnk/w="
    # COVERITY_SCAN_EMAIL
    - secure: "l6tel2Z9ded2KWvagQFHLU6Smfu4xq2Dn/Id77h4AXJSgB9JTKXzy+gs11Qtg9CJOsmTkecFXucVWyjXInr0YVk5hV0hPW9AOElGaUQ0eO3bxVbZ/y8xWsC4DXDBaR8W3W0MwaB2QoxRgSf4WofQyf404NRzwYKIjxwjUXEvTcoNfNqByXtakA9nfPg0w9sSHFL5e4IXmHI/eZjomxR3eJBEqFdbx+YGTH6XD5bHENd8w5Q8Wq6110k6B6bQqvGPRiInKDmwbMux6AVjA7c+pXQx0wadFsfxisFiUK4x+dP1ZopYrQFI30xjiGiRGcwJyo62vmZT/7a6ZFmH3UL8MUZq/4Y0xaoA4vj/N3FBdNdXSHMsdbXi/QrNX3WmaPGDrN/K7dkbdelhf+zI+3oj7T1FxjhHryt9slmZPkix8+S9jZ0okfvXTZNH3GYFSkHsyUDQzyy3jxma/tNrRiNR8bD8MhQKYGtFdl/hWe8CmUpSirfC/RDH4DnFSrLBugal/E7ycC4QbazsZIeKqlAViLpb+GTfClyrwzYeq+/ZHxhh4A7dOVA05/4OPGEzr6EotjtxSK/NICIOr6ztPSCA1FbVPcfzrpAVizEO5r8m3ONRsU35Ddt73Sg3EUgTbreo+LYX4B7cKjkiurBGd3RiA53A2CiPffBGJINuq9OxJu4="
    - CFLAGS="-O3 -fPIC"
    - CPPFLAGS="-DHAVE_HDF5=1"
    - DEPLOY_LIBS="libModelicaStandardTables.a libModelicaIO.a libModelicaMatIO.a libzlib.a"
    # BBPASS
    - secure: "K/tznRiOBs4Vz2oNgXTkp07mLPXjj0UCqMHjhI7GeDpbVVTbzfIRJkqPeQN+i9kzxUqBx32P8fdaw1FTUi/hS+ZnW2HvsLnr9zvsI1jycGWoF5ZxiYYy+lpK3t3Wa6zerJgVJTHo6Y0jr2aQZL2HX5rj9Q5hDAWiZXCjP4avMp8wpujLZ5f/THC8BBSxyRL7OT2inZZJwUvDDZXHZaof85R3+ACkyACniD/N0yxXSDdqNXrhOdOK2ygi7ZQuyrnzZWXndBpwcygHs1WG5W1hV3oOcUSajCMVxcCJnhfoo5IwSzCyvc3YOHPRm3ZvC/FKy8nP2GddCVsuqTN9ygE2AS3kqQWQGXvqH+/aKEITzfsVyyUkiArHBm/56+ck0ANGLo6Ns03Qlzud6vdvI2uaKWzfXWa/EA0ZNGAMTmp0bdBb9ziQdyPO5HCUPf+MiUPyVGrUm/SV/Xbrp88he3gjUoM9J7Y2LXOOj/c8XSqOUL+/bZYZpHg/KkBQz79pjCQHXD2Vx8ioZMDfaem2ew0tUbPd4BfxnxCLi+KujPZjo3uJozsXRi9IIYJO2a/d77zlAUUhPLQE6FOYfrPfqiO/1s367A5fiIJuHK3eGCV/UbFdOIPMHm/uppch3TtrWEzO0B7bjHZxRcznEcVv2GZGaj2l8CrV6FPfKNYarCS1HQM="
   
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - curl https://bitbucket.org/Swyter/bitbucket-curl-upload-to-repo-downloads/raw/default/upload-to-bitbucket.sh -O -J && chmod +x ./upload-to-bitbucket.sh

install:
  - git clone --branch hdf5_1_8_19 https://git.hdfgroup.org/scm/hdffv/hdf5.git hdf5_1_8_19
  - cd hdf5_1_8_19
  - ./configure --quiet --enable-shared --enable-production --enable-debug=no --with-pic --disable-deprecated-symbols --disable-hl --with-default-api-version=v18 CFLAGS="-O3 -w" CPPFLAGS="-DNDEBUG"
  - make install -C src
  - cd $TRAVIS_BUILD_DIR

before_script:
  - mkdir Library
  - cd Library
  - mkdir linux32
  - mkdir linux64
  - cd ../BuildProjects/gcc

script:
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]]; then make CFLAGS="-O3 -msse2 -m32 -fPIC" TARGETDIR="linux32" CPPFLAGS="-DNDEBUG -DHAVE_UNISTD_H -DHAVE_STDARG_H -DHAVE_HIDDEN -DHAVE_MEMCPY"; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]]; then make CPPFLAGS="-DNDEBUG -DHAVE_UNISTD_H -DHAVE_STDARG_H -DHAVE_HIDDEN -DHAVE_MEMCPY"; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]]; then cd ../../Library/linux32; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]]; then tar cJf ModelicaStandardTables_linux32.tar.xz $DEPLOY_LIBS; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]] && [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CC" == "gcc-4.8" ]]; then sh ../../upload-to-bitbucket.sh tbeu $BBPASS /tbeu/downloads/downloads ModelicaStandardTables_linux32.tar.xz; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]]; then cd ../linux64; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]]; then tar cJf ModelicaStandardTables_linux64.tar.xz $DEPLOY_LIBS; fi
  - if [[ "$COVERITY_SCAN_BRANCH" != 1 ]] && [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CC" == "gcc-4.8" ]]; then sh ../../upload-to-bitbucket.sh tbeu $BBPASS /tbeu/downloads/downloads ModelicaStandardTables_linux64.tar.xz; fi

notifications:
  email: false

sudo: required
